nav ul {
    list-style-type: none;
    height: 150px;
    /* line-height: 150px; */
    margin: 0;
    padding: 0;
}

nav li {
background-color: rgb(240, 109, 240);
margin: 20px;
padding: 10px;
border-radius: 20px;
text-align: center;
}

nav li:hover {
    background-color: rgb(154, 105, 201)
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.sub-container {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

.content {
    background-color: rgb(100, 21, 100);
    flex-grow: 1;
    
    padding-top: 60px;
    font-family: 'Courier New', Courier;
}
article.purple-border {
    width: 600px;
    border: 15px solid rgb(175, 137, 197);
    padding: 50px;
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier;
}
.content h1{
text-align: center;
font-size: 70px;
font-family: 'Courier New', Courier;
}
nav {
    background-color: pink;
    flex-grow: 0.1;
    /* flex-shrink: 0; */
}
.my-project {
    font-family: 'Courier New', Courier;
    text-align: center;
    width: 700px;
    margin: auto;
    font-size: 150%;
    /* flex-grow: 0.8; */
}